<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Responsive Navbar</title>
		<link rel="stylesheet" href="/assets/css/navbar.css" />
	</head>
	<body>
		<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
		<label for="menu-icon"></label>
		<nav class="nav">
			<ul class="pt-5">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/pages/courses.html">Courses</a></li>
				<li><a href="/pages/flashcard.html">Flash Cards</a></li>
				<li><a href="/pages/about.html">About</a></li>
			</ul>
		</nav>
	</body>
</html>
